<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 98%;margin: 30px,150px">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">新建工单</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="form-horizontal"  role="form" name="commontaskNewForm" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-feedback" ng-class="{'has-success':commontaskNewForm.title.$valid,'has-error':commontaskNewForm.title.$dirty&&!commontaskNewForm.title.$valid}">
                  <label for="tilte" class="col-md-2 control-label">主题*</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="title" name="title" ng-model="commontaskMain.title" placeholder="主题" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="commontaskNewForm.title.$dirty && commontaskNewForm.title.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="commontaskNewForm.title.$dirty && !commontaskNewForm.title.$valid"></span>
                    <span ng-show="commontaskNewForm.title.$dirty && !commontaskNewForm.title.$valid" class="help-block">不能为空</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="senduserid" class="col-md-4 control-label">操作人*</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="senduserid" placeholder="操作人"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="senddeptid" class="col-md-4 control-label">操作部门*</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="senddeptid" placeholder="操作部门"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group has-feedback" ng-class="{'has-success':commontaskNewForm.sendcontact.$valid,'has-error':commontaskNewForm.sendcontact.$dirty&&!commontaskNewForm.sendcontact.$valid}">
                  <label for="sendcontact" class="col-md-4 control-label">联系方式*</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="sendcontact" name="sendcontact" ng-model="sendcontact" placeholder="操作人联系方式" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="commontaskNewForm.sendcontact.$dirty && commontaskNewForm.sendcontact.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="commontaskNewForm.sendcontact.$dirty && !commontaskNewForm.sendcontact.$valid"></span>
                    <span ng-show="commontaskNewForm.sendcontact.$dirty && !commontaskNewForm.sendcontact.$valid" class="help-block">不能为空</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group has-feedback" ng-class="{'has-success':commontaskNewForm.sendtime.$valid,'has-error':commontaskNewForm.sendtime.$dirty&&!commontaskNewForm.sendtime.$valid}">
                  <label for="sendtime" class="col-md-4 control-label">操作时间*</label>
                  <div class="col-md-8">
                    <input type="text" id="sendtime" name="sendtime" ng-model="sendtime"  class="form_datetime form-control" readonly required>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="commontaskNewForm.sendtime.$dirty && commontaskNewForm.sendtime.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="commontaskNewForm.sendtime.$dirty && !commontaskNewForm.sendtime.$valid"></span>
                    <span ng-show="commontaskNewForm.sendtime.$dirty && !commontaskNewForm.sendtime.$valid" class="help-block">不能为空</span>
                    <script type="text/javascript">
                        $("#sendtime").datetimepicker({language: 'zh-CN',autoclose: true,
                                    todayHighlight: true,todayBtn:true,todayHighlight:true,keyboardNavigation:false,minuteStep:5,format: 'yyyy-mm-dd hh:ii',minView:2});
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group has-feedback" ng-class="{'has-success':commontaskNewForm.sheetAcceptLimit.$valid,'has-error':commontaskNewForm.sheetAcceptLimit.$dirty&&!commontaskNewForm.sheetAcceptLimit.$valid}">
                  <label for="sheetAcceptLimit" class="col-md-4 control-label">接收时限*</label>
                  <div class="col-md-8">
                    <input type="text" id="sheetAcceptLimit" name="sheetAcceptLimit" ng-model="sheetAcceptLimit"  class="form_datetime form-control" readonly required>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="commontaskNewForm.sheetAcceptLimit.$dirty && commontaskNewForm.sheetAcceptLimit.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="commontaskNewForm.sheetAcceptLimit.$dirty && !commontaskNewForm.sheetAcceptLimit.$valid"></span>
                    <span ng-show="commontaskNewForm.sheetAcceptLimit.$dirty && !commontaskNewForm.sheetAcceptLimit.$valid" class="help-block">不能为空</span>
                    <script type="text/javascript">
                        $("#sheetAcceptLimit").datetimepicker({language: 'zh-CN',autoclose: true,
                                    todayHighlight: true,todayBtn:true,todayHighlight:true,keyboardNavigation:false,minuteStep:5,format: 'yyyy-mm-dd hh:ii',minView:2});
                    </script>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group has-feedback" ng-class="{'has-success':commontaskNewForm.sheetCompleteLimit.$valid,'has-error':commontaskNewForm.sheetCompleteLimit.$dirty&&!commontaskNewForm.sheetCompleteLimit.$valid}">
                  <label for="sheetCompleteLimit" class="col-md-4 control-label">处理时限*</label>
                  <div class="col-md-8">
                    <input type="text" id="sheetCompleteLimit" name="sheetCompleteLimit" ng-model="sheetCompleteLimit"  class="form_datetime form-control" readonly required>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="commontaskNewForm.sheetCompleteLimit.$dirty && commontaskNewForm.sheetCompleteLimit.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="commontaskNewForm.sheetCompleteLimit.$dirty && !commontaskNewForm.sheetCompleteLimit.$valid"></span>
                    <span ng-show="commontaskNewForm.sheetCompleteLimit.$dirty && !commontaskNewForm.sheetCompleteLimit.$valid" class="help-block">不能为空</span>
                    <script type="text/javascript">
                        $("#sheetCompleteLimit").datetimepicker({language: 'zh-CN',autoclose: true,
                                    todayHighlight: true,todayBtn:true,todayHighlight:true,keyboardNavigation:false,minuteStep:5,format: 'yyyy-mm-dd hh:ii',minView:2});
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="mainnetsort1" class="col-md-4 control-label">网路一级分类*</label>
                  <div class="col-md-8">
                    <select class="form-control" name="mainnetsort1">
                      <option value="无线">无线</option>
                      <option value="网管">网管</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" ng-disabled="commontaskNewForm.$invalid" class="btn btn-primary">提交</button>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>