
<nav class="navbar home_navbar navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" 
                    ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand home_a" ui-sref="＃">电子运行维护平台</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div  class="collapse navbar-collapse" uib-collapse="!vm.isCollapsed"  resize>
    <ul class="nav navbar-nav home_nav ">
      <li  ng-class="{active:$index==vm.activerow}"  ng-click="vm.isCurrent($index,data)" ng-repeat="data in vm.menuList" on-finish-render-filters>
        <a href="#" style="cursor:pointer">{{data.NAME}}</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<div  class="home_div anim-in-out anim-slide-left " data-anim-speed="500" ui-view>
  <!--
   <div ng-controller="MessengerController as messengerCtrl">
  <h2>WebSocket Test</h2>
  Connection: {{ messengerCtrl.Messages.status() }}
  <form ng-submit="messengerCtrl.submit(new_message)">
    <input type="text" ng-model="messengerCtrl.username">
    <input type="text" ng-model="new_message" autofocus required>
    <button type="submit">Send Message</button>
  </form>
  <div ng-repeat="message in messengerCtrl.Messages.collection | orderBy:'-timeStamp' track by $index"> <b>{{ message.username | capitalize }}</b>
    :
    <small>{{ message.timeStamp | date:'medium' }}</small>
    <br>
    {{ message.content }}
    <br>
    <br></div>

</div>
-->
</div>